
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    background-color: #f8f9fa;
}

.not-found h1 {
    font-size: 5rem;
}

.not-found p {
    font-size: 2rem;
}